html {
    background-color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(36, 36, 36);
}

section {
    width: 50%;
    height: 75vh;
    padding: 20px;
}

nav {
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    height: 45px;
    padding-left: 15px;
    outline: none;
    color: aliceblue;
    font-weight: 450;
    border-radius: 5px;
    background-color: rgba(151, 151, 151, 0.521);
}

::placeholder {
    color: #ffffff5e;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    align-items: center;
}

.alerta {
    width: 500px;
    height: 40px;
    color: white;
    display: none;
    background-color: green;
    text-align: center;
    line-height: 40px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 8px;
}

.alerta-warn {
    width: 500px;
    height: 40px;
    color: white;
    display: none;
    background-color: rgb(255, 58, 24);
    line-height: 40px;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 8px;
}

.img-logo {
    width: 300px;
    height: 80px;
}

.secao-cartao {
    width: 1500px;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    background-color: rgb(36, 36, 36);
}

.secao-cartao::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.secao-cartao::-webkit-scrollbar-track {
    background: #555;
}

.secao-cartao::-webkit-scrollbar-thumb {
    background: #FFB529;
    border-radius: 6px;
    border: 2px solid transparent;
}

.secao-cartao::-webkit-scrollbar-thumb:hover {
    background: #DB184D;
}

.cartao-produtos {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.cartao {
    width: 140px;
    height: 200px;
    display: flex;
    border-radius: 8px;
    padding: 8px;
    background-color: #FFB529;
}

.titulo-cartao {
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.img-container {
    width: 140px;
    height: 150px;
}

.card-container--info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.card-container--value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-button {
    cursor: pointer;
    font-size: large;
}

.secao-add-produto {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.caixa-form-produto {
    width: 360px;
    height: 380px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    border: solid 1px #FFB529;
    box-shadow: 1px 2px 10px #FFB529;
}

.titulo-add-produto {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #DB184D;
}

.caixa-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-add,
.btn-limpar {
    width: 130px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color: #DB184D;
    background-color: #FFB529;
}

.bxs-rocket {
    color: #FFB529;
}

.mensagem-erro {
    color: red;
    font-weight: 400;
    font-size: 0.8rem;
}