
main {
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 36, 36);
}

section {
    width: 50%;
    height: 80vh;
    padding: 20px;
}

nav {
    height: 40px;
    background-color: rgb(202, 202, 202);
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.secao-cartao {
    width: 1500px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(36, 36, 36);
    overflow: auto;
}

.cartao-produtos {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.cartao {
    width: 180px;
    height: 250px;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(202, 202, 202);
}

.cartao:hover {
    height: 255px;
    background-color: rgba(192, 192, 192, 0.897);
}

.img-container {
    width: 180px;
    height: 150px;
}

.card-container--info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.card-container--value {
    display: flex;
    flex-direction: row;
}

.secao-add-produto {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}