html {
    background-color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(36, 36, 36);
}

section {
    width: 50%;
    height: 80vh;
    padding: 20px;
}

nav {
    height: 55px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    height: 45px;
    padding-left: 15px;
    outline: none;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(0, 0, 0);
}

.img-logo {
    width: 300px;
    height: 80px;
}

.secao-cartao {
    width: 1500px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(36, 36, 36);
    overflow: auto;
}

.cartao-produtos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.cartao {
    width: 180px;
    height: 250px;
    border-radius: 8px;
    padding: 8px;
    background-color: #FFB529;
}

.img-container {
    width: 180px;
    height: 150px;
}

.card-container--info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.card-container--value {
    display: flex;
    flex-direction: row;
}

.secao-add-produto {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.titulo-add-produto {
    font-size: 1.4rem;
    font-weight: 600;
    color: #DB184D;
}

.btn-add,
.btn-limpar {
    width: 130px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color: #DB184D;
    background-color: #FFB529;
}